*{margin: 0;padding: 0;}

.anh {
    width: 47%;
    margin-left: 205px;
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 26px;
    font-size: 34px;
    color: #528da0;
}

.chua {
    margin: auto;
    width: 100%;
    height: 100%;
    background-color: #d0f1e7;
}
.thongtin{
	margin: auto;
	font-size: 22px;
	padding-left: 205px;
}